
.svgjs svg text {
    display: none;
}
/*
 * Hides the second handle
.svgjs svg g:last-child,
.simple svg g g line:last-child {
    display: none;
}
*/

#footer {
    position: absolute;
    font-size: 70%;
    bottom: 20px;
    right: 20px;
}
#clocks > div {
    float: left;
    padding: 5px;
}
#clocks > div > svg {
    margin-left: 10px;
}
#clocks > div > span {
    display: block;
    font-size: 80%;
    text-align: center;
}
#config-button {
    position: absolute;
    right: 20px;
    top: 20px;
}
#config-button:hover {
    background: yellow;
    border: 1px black solid;
    cursor: pointer;
}
#config .tabs {
    margin-bottom: 10px;
}
fieldset {
    border: 0;
}
label {
    display: block;
    margin: 10px 0 0 0;
}
select {
    width: 200px;
}